@font-face{
  font-family: SukhumvitSet-Bold;
  src: url(../fonts/Sukhumvit/SukhumvitSet-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: SukhumvitSet-Light;
  src: url(../fonts/Sukhumvit/SukhumvitSet-Light.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: SukhumvitSet-Medium;
  src: url(../fonts/Sukhumvit/SukhumvitSet-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}

@font-face{
  font-family: SukhumvitSet-SemiBold;
  src: url(../fonts/Sukhumvit/SukhumvitSet-SemiBold.ttf);
  font-style: normal;
  font-variant:initial;
}

@font-face{
  font-family: SukhumvitSet-Text;
  src: url(../fonts/Sukhumvit/SukhumvitSet-Text.ttf);
  font-style: normal;
  font-variant:initial;
}

@font-face{
  font-family: SukhumvitSet-Thin;
  src: url(../fonts/Sukhumvit/SukhumvitSet-Thin.ttf);
  font-style: normal;
  font-variant:initial;
}


@font-face {
  font-family: 'Linearicons';
  src: url("../fonts/Linearicons-Free.ttf");
  
}
 
/*html {
  scroll-behavior: smooth;
}*/
.none-pad{
  padding: 0px 0px 0px 0px !important;
} 
 
.dropdown:hover>.dropdown-menu {
  display: block;
}
 
.navbar-toggler-left .fa-bars{
  color: #fff !important;
}
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }
  .none-xxs{
    padding: -15px -15px -15px -15px !important;
  }
  .marx-15{
    margin-top: 15px;
  }
  .centered .text .title{
    font-size: 18px;
  }
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  } 
  .centered .text .title{
    font-size: 32px;
  }
}
 
a:hover{
  text-decoration: none;
}
/*.banner {
  height: 100vh;
}*/ 


.navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-family: SukhumvitSet-Bold;
  color: #919192;
  padding-left: 15px;
  padding-right: 15px;
} 
 
.navbar .navbar-nav .nav-item.active .nav-link,.navbar .navbar-nav .nav-item .nav-link:hover{
  color: #41B6FF !important;
  font-family: SukhumvitSet-Bold;
}

.nav-item.dropdown{
  font-family: SukhumvitSet-Medium;
  color: #404040;
  font-size: 18px;
}
.nav-item.dropdown .dropdown-menu{
  margin-top: -2px;
}
.nav-item.dropdown .dropdown-menu .dropdown-item{
  border-bottom: 2px solid #f0f0f0;
}

.nav-item.dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom:none;
}